In [1]:
#Run some EMG stats
#Indvidual level stats first (e.g., average per channel, average per channel as a function of condition, etc.)

In [2]:
import pandas as pd
import numpy as np

In [3]:
%ls

1002.csv         2013.csv         2034.csv         2057.csv
1004.csv         2014.csv         2035.csv         2058.csv
1047.csv         2015.csv         2036.csv         2059.csv
1053.csv         2017.csv         2038.csv         2060.csv
1055.csv         2018.csv         2039.csv         2061.csv
1057.csv         2020.csv         2040.csv         2062.csv
1061.csv         2021.csv         2042.csv         2063.csv
1063.csv         2022.csv         2043.csv         2064.csv
1069.csv         2023.csv         2044.csv         2065.csv
2001.csv         2024.csv         2045.csv         2066.csv
2002.csv         2025.csv         2048.csv         2067.csv
2003.csv         2026.csv         2049.csv         2068.csv
2005.csv         2027.csv         2050.csv         2069.csv
2006.csv         2028.csv         2052.csv         2070.csv
2008.csv         2029.csv         2053.csv         2071.csv
2009.csv         2031.csv         2054.csv         EMG_stats.ipynb
2011.csv         2032.csv         2055.csv
2012.csv         2033.csv         2056.csv

In [4]:
df = pd.read_csv('1069.csv')
df.head()

,Unnamed: 0,Epoch Analysis,Time,CH14_value,CH14_delta,CH14_peak,CH15_value,CH15_delta,CH15_peak,target,condition
0,0,1,4.5,0.001831,0.001068,0.006866,-0.002289,-0.000458,0.024109,other,dec
1,1,2,20.5,0.001831,0.000610,0.007019,-0.001984,0.001221,0.018768,other,neut
2,2,3,36.5,0.000153,0.003052,0.010376,-0.002136,-0.002594,0.024414,other,dec
3,3,4,52.5,0.001678,0.000458,0.008087,-0.002747,-0.000153,0.016022,other,dec
4,4,5,68.5,0.001831,-0.000610,0.012817,-0.002289,0.001526,0.014801,other,dec

In [5]:
#get average 'Peak to Peak (aka CH14_peak and CH15_peak)' as a function of condition (neut, neg, dec)

#first group by condition, then get the mean of CH14 and CH15
cond = df.groupby(['condition']).mean()

In [6]:
cond

,Unnamed: 0,Epoch Analysis,Time,CH14_value,CH14_delta,CH14_peak,CH15_value,CH15_delta,CH15_peak
condition,,,,,,,,,
dec,93.584615,11.876923,1533.104677,0.001047,0.000486,0.013695,-0.002348,-0.000049,0.020219
neg,97.666667,13.333333,1599.409587,0.001523,0.002122,0.021546,-0.001664,0.000329,0.022171
neut,95.312500,12.312500,1561.239125,0.000541,-0.000188,0.010700,-0.001779,-0.000355,0.020969

In [7]:
CH15 = cond['CH15_peak']
CH14 = cond['CH14_peak']

In [8]:
pd.DataFrame(CH15).T

condition       dec       neg      neut
CH15_peak  0.020219  0.022171  0.020969

In [9]:
pd.DataFrame(CH14).T

condition       dec       neg    neut
CH14_peak  0.013695  0.021546  0.0107